.App {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.message {
  font-size: 1.2em;
  text-align: center;
}

table {
  border: 1px solid #dfdfdf;
  border-collapse: collapse;
}
th {
  background-color: #efefef;
  text-align: left;
}
td {
  border: 1px solid #efefef;
}
td,
th {
  padding: 0.4em;
}
